#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width: auto;
    float:left;
    padding:10px;
    height: 400px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;

}
table{
    width: 100%;
}
#left_tab{
    width: 70%;
    text-align:left;
}
#right_tab{
    width: 30%;
    text-align:right;
}
#msg{
    color:red;
}